{% extends 'dashing/dashboard.html' %}
{% block external_resources %}{% endblock %}
{% block title %}Multiple Dashboards{% endblock %}
{% block config_file %}
<script type="text/javascript">
/* global $, DashboardSet, alert */
var console = window.console || {log: alert.bind(null)},
    myDashboardSet = new DashboardSet({
        rollingChoices: true
    }),
    main = myDashboardSet.addDashboard('Primary Dashboard'),
    sub = myDashboardSet.addDashboard('Secondary Dashboard');

    myDashboardSet.addAction('Custom Action', function(e) {
        e.preventDefault();
        console.log('Custom action launched');
    });

main.subscribe('shown', function() {
    console.log('primary dashboard shown');
});

main.addWidget('clock_widget', 'Clock');

main.addWidget('current_valuation_widget', 'Number', {
    getData: function () {
        $.extend(this.scope, {
            title: 'Current Valuation',
            moreInfo: 'In billions',
            updatedAt: 'Last updated at 14:10',
            detail: '64%',
            value: '$35'
        });
    }
});

sub.addWidget('buzzwords_widget', 'List', {
    getData: function () {
        $.extend(this.scope, {
            title: 'Buzzwords',
            moreInfo: '# of times said around the office',
            updatedAt: 'Last updated at 18:58',
            data: [{label: 'Exit strategy', value: 24},
                   {label: 'Web 2.0', value: 12},
                   {label: 'Turn-key', value: 2},
                   {label: 'Enterprise', value: 12},
                   {label: 'Pivoting', value: 3},
                   {label: 'Leverage', value: 10},
                   {label: 'Streamlininess', value: 4},
                   {label: 'Paradigm shift', value: 6},
                   {label: 'Synergy', value: 7}]
            });
    }
});

/* define a new widget that only uses d3,
 * used as part of a test for issue #73
 * https://github.com/talpor/django-dashing/issues/73
 *
 * This must be added to a dashboard before any widget that
 * requires Rickshaw, or the Rickshaw dependency will cause
 * d3 to be pulled in.
 */
sub.widgets.Issue73 = function (dashboard) {
    var self = this;

    /* reuse 'number' template */
    self.__init__ =  Dashing.utils.widgetInit(dashboard, 'number', {
        require: ['d3'] /* require just d3, not also rickshaw */
    });
    self.row = 1;
    self.col = 1;
    self.scope = {};
    self.getWidget = function () {
        return this.__widget__;
    };
    self.getData = function () {};
    self.interval = 3000;
};

sub.addWidget('issue-73-widget', 'Issue73', {
    getData: function () {
        $.extend(this.scope, {
            title: 'Current Valuation',
            moreInfo: 'In billions',
            updatedAt: 'Last updated at 14:10',
            detail: '64%',
            value: '$35'
        });
    }
});



main.addWidget('convergence_widget1', 'Graph', {
    getData: function () {
        $.extend(this.scope, {
            title: 'Convergence',
            value: Math.floor(Math.random() * 50) + 40,
            moreInfo: '',
            data: [
                    { x: 0, y: Math.floor(Math.random() * 50) + 40 }, 
                    { x: 1, y: Math.floor(Math.random() * 50) + 40 }, 
                    { x: 2, y: Math.floor(Math.random() * 50) + 40 }, 
                    { x: 3, y: Math.floor(Math.random() * 50) + 40 }, 
                    { x: 4, y: Math.floor(Math.random() * 50) + 40 }
                ]
        });
    }
});

sub.addWidget('convergence_widget2', 'Graph', {
    getData: function () {
        $.extend(this.scope, {
            title: 'Convergence',
            value: Math.floor(Math.random() * 50) + 40,
            moreInfo: '',
            data: [
                    { x: 0, y: Math.floor(Math.random() * 50) + 40 }, 
                    { x: 1, y: Math.floor(Math.random() * 50) + 40 }, 
                    { x: 2, y: Math.floor(Math.random() * 50) + 40 }, 
                    { x: 3, y: Math.floor(Math.random() * 50) + 40 }, 
                    { x: 4, y: Math.floor(Math.random() * 50) + 40 }
                ],
            properties: {
                renderer: 'line'
            },
        });
    }
});
</script>
{% endblock %}
