<!DOCTYPE html>
{% load static from staticfiles %}
{% load dashing_resources %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block 'title' %}Django Dashing{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'lib/css/jquery.gridster.css' %}">
    <link rel="stylesheet" href="{% static 'lib/css/rickshaw.css' %}">
    <link rel="stylesheet" href="{% static 'lib/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'dashing.css' %}">
    {% widget_styles %}
    {% block 'stylesheets' %}
    {% endblock %}
    {% widget_templates %}
    {% block 'templates' %}
    {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/assets/images/favicon.ico">

</head>
<body id="app" rv-on-keydown="toggleOverlay">
    {% block 'main_container' %}
    <div id="container"></div>
    <div id="overlayContainer">
        <div class="modal-container" rv-fade="showingOverlay" rv-on-click="hideOverlay">
            <div class="box" rv-each-dashboard="dashboards" rv-on-click="swapDashboard">{ dashboard.name }</div>
        </div>
    </div>
    {% endblock %}
    <script type="text/javascript" src="{% static 'lib/js/jquery-1.11.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/rivets.bundled.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'lib/js/jquery.gridster.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/jquery.knob.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/d3.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/rickshaw.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/moment-with-langs.js' %}"></script>

    <script type="text/javascript" src="{% static 'dashing.js' %}"></script>
    {% widget_scripts %}
    {% block 'scripts' %}
    {% endblock %}
    {% block 'config_file' %}
    <script type="text/javascript" src="{% static 'dashing-config.js' %}"></script>
    {% endblock %}
</body>
</html>
