{% extends 'dashing/base.html' %}
{% load static from staticfiles %}

{% block 'stylesheets' %}
<link rel="stylesheet" href="{% static 'widgets/clock/clock.css' %}">
<link rel="stylesheet" href="{% static 'widgets/list/list.css' %}">
<link rel="stylesheet" href="{% static 'widgets/graph/graph.css' %}">
<link rel="stylesheet" href="{% static 'widgets/number/number.css' %}">
{% endblock %}

{% block 'templates' %}
<link rel="resource" type="text/html" data-widget="clock" href="{% static 'widgets/clock/clock.html' %}">
<link rel="resource" type="text/html" data-widget="list" href="{% static 'widgets/list/list.html' %}">
<link rel="resource" type="text/html" data-widget="graph" href="{% static 'widgets/graph/graph.html' %}">
<link rel="resource" type="text/html" data-widget="number" href="{% static 'widgets/number/number.html' %}">
{% endblock %}

{% block 'scripts' %}
<script type="text/javascript" src="{% static 'widgets/clock/clock.js' %}"></script>
<script type="text/javascript" src="{% static 'widgets/list/list.js' %}"></script>
<script type="text/javascript" src="{% static 'widgets/number/number.js' %}"></script>
<script type="text/javascript" src="{% static 'widgets/graph/graph.js' %}"></script>
{% endblock %}
