{% extends 'dashing/dashboard.html' %}
{% block external_resources %}{% endblock %}
{% block 'title' %}Multiple Dashboards{% endblock %}
{% block 'config_file' %}
<script type="text/javascript">
/* global $, DashboardSet, alert */
var console = window.console || {log: alert.bind(null)},
    myDashboardSet = new DashboardSet({
        rollingChoices: true
    }),
    main = myDashboardSet.addDashboard('Primary Dashboard'),
    sub = myDashboardSet.addDashboard('Secondary Dashboard');

    myDashboardSet.addAction('Custom Action', function(e) {
        e.preventDefault();
        console.log('Custom action launched');
    });

main.subscribe('shown', function() {
    console.log('primary dashboard shown');
});

main.addWidget('clock_widget', 'Clock');

main.addWidget('current_valuation_widget', 'Number', {
    getData: function () {
        $.extend(this.scope, {
            title: 'Current Valuation',
            moreInfo: 'In billions',
            updatedAt: 'Last updated at 14:10',
            detail: '64%',
            value: '$35'
        });
    }
});

sub.addWidget('buzzwords_widget', 'List', {
    getData: function () {
        $.extend(this.scope, {
            title: 'Buzzwords',
            moreInfo: '# of times said around the office',
            updatedAt: 'Last updated at 18:58',
            data: [{label: 'Exit strategy', value: 24},
                   {label: 'Web 2.0', value: 12},
                   {label: 'Turn-key', value: 2},
                   {label: 'Enterprise', value: 12},
                   {label: 'Pivoting', value: 3},
                   {label: 'Leverage', value: 10},
                   {label: 'Streamlininess', value: 4},
                   {label: 'Paradigm shift', value: 6},
                   {label: 'Synergy', value: 7}]
            });
    }
});

main.addWidget('convergence_widget1', 'Graph', {
    getData: function () {
        $.extend(this.scope, {
            title: 'Convergence',
            value: Math.floor(Math.random() * 50) + 40,
            moreInfo: '',
            data: [
                    { x: 0, y: Math.floor(Math.random() * 50) + 40 }, 
                    { x: 1, y: Math.floor(Math.random() * 50) + 40 }, 
                    { x: 2, y: Math.floor(Math.random() * 50) + 40 }, 
                    { x: 3, y: Math.floor(Math.random() * 50) + 40 }, 
                    { x: 4, y: Math.floor(Math.random() * 50) + 40 }
                ]
        });
    }
});

sub.addWidget('convergence_widget2', 'Graph', {
    getData: function () {
        $.extend(this.scope, {
            title: 'Convergence',
            value: Math.floor(Math.random() * 50) + 40,
            moreInfo: '',
            data: [
                    { x: 0, y: Math.floor(Math.random() * 50) + 40 }, 
                    { x: 1, y: Math.floor(Math.random() * 50) + 40 }, 
                    { x: 2, y: Math.floor(Math.random() * 50) + 40 }, 
                    { x: 3, y: Math.floor(Math.random() * 50) + 40 }, 
                    { x: 4, y: Math.floor(Math.random() * 50) + 40 }
                ],
            properties: {
                renderer: 'line'
            },
        });
    }
});
</script>
{% endblock %}